<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update employee</title>
</head>
<body>

<h1>Update Employee</h1>

<form action="#" th:action="@{/employees/save}" th:object="${employee}" method="post">
    <input type="hidden" th:value="${employee.id}" th:attr="name='id'"/>

    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <br>
    <label for="phone">Phone</label>
    <input type="text" th:field="*{phone}" id="phone" placeholder="Phone">
    <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
    <br>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <br>
    <label for="dateOfBirth">Date of birth</label>
    <input type="date" id="dateOfBirth"  th:field="*{dateOfBirth}" min="1958-01-01" max="2018-12-31">
    <span th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></span>
    <br>
    <td><label for="departmentId">Department</label></td>
    <td>
        <label>
            <select th:field="*{departmentId}" name="departmentId" id="departmentId">
                <option th:each="departmentItem : ${departments}" th:value="${departmentItem.getId()}" th:text="${departmentItem.name}">
                </option>
            </select>
        </label>
    </td>
    <span th:if="${#fields.hasErrors('departmentId')}" th:errors="*{departmentId}"></span>
    <br>
    <input type="submit" value="Update Employee">
</form>

</body>
</html>